/* template around article card
/* section to be a grid

/* section margin 2 rem?
/* nav to be flex
/* article to be flex 
section */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  padding: 2rem;
  padding-bottom: 4rem;
}
header {
  height: 30vh;
  background-color: aquamarine;
}
#template_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
  margin: 1rem 3rem;
}
.school_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.school_info div,
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

nav {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
#user_choices {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}
.filter_and_sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.search_div {
  display: flex;
  flex-direction: column;
}
article {
  background-color: rgb(120, 194, 120);
  padding: 0.8rem;
  border-radius: 10px;
}
button {
  height: 100%;
}

#sort {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
}

#sort span.sortby[data-sort="firstName"],
#sort span.sortby[data-sort="lastName"] {
  text-decoration: underline;
}

#sort span.sortby[data-sort-direction="asc"]::after {
  content: " ↓";
}
#sort span.sortby[data-sort-direction="desc"]::after {
  content: " ↑";
}

.search_div {
  margin-right: 2rem;
}

.dialog {
  display: none;
}

.dialog.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialogcontent {
  background-color: rgb(233, 233, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10vw 8vw 8vw 8vw;
  position: relative;
}

.dialog h1 {
  margin: 0;
  font-size: 130%;
}

.dialog h2 {
  margin: 0.5em 0;
  font-size: 110%;
  font-weight: lighter;
}

.dialog .closebutton {
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 4vw;
  right: 4vw;
  border: none;
  background-color: transparent;
  font-size: 90%;
  color: darkgray;
}

.dialog .closebutton:hover {
  color: black;
}
