/* template around article card
/* section to be a grid

/* section margin 2 rem?
/* nav to be flex
/* article to be flex 
section */
@import url("http://fonts.cdnfonts.com/css/harry-potter");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  position: relative;
}
body {
  background-image: url(../HogwartsList_CleanUp/images/jules-marvin-eguilos-cADpgwU6Fm4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  padding: 2rem;
  padding-bottom: 4rem;
  font-family: "Harry Potter", sans-serif;
}
header {
  height: 30vh;
  /* background-color: rgb(90, 156, 249); */
}
#template_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
  margin: 1rem 3rem;
}
.school_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.school_info div,
.student_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.navigation {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: rgba(9, 14, 67, 0.25);
}
#user_choices {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}
.filter_and_sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.search_div {
  display: flex;
  flex-direction: column;
}
.student_card {
  padding: 0.8rem;
  border-radius: 10px;
}
.student_card:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.05);
}
button {
  height: 100%;
}

#sort {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
}

#sort span.sortby[data-sort="firstName"],
#sort span.sortby[data-sort="lastName"],
#sort span.sortby[data-sort="house"] {
  text-decoration: underline;
}

#sort span.sortby[data-sort-direction="asc"]::after {
  content: " ↓";
}
#sort span.sortby[data-sort-direction="desc"]::after {
  content: " ↑";
}
span[data-action="sort"] {
  padding: 0.8rem;
  border: 2px solid white;
  border-radius: 12px;
}

.search_div {
  margin-right: 2rem;
}
#search_bar,
select {
  border-radius: 12px;
  border: 2px solid white;
  background-color: transparent;
  padding: 0.8rem;
  color: white;
}
.dialog {
  display: none;
}

.dialog.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialogcontent {
  background-color: rgb(233, 233, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10vw 8vw 8vw 8vw;
  position: relative;
}

.dialog h1 {
  margin: 0;
  font-size: 130%;
}

.dialog h2 {
  margin: 0.5em 0;
  font-size: 110%;
  font-weight: lighter;
}

.dialog .closebutton {
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 4vw;
  right: 4vw;
  border: none;
  background-color: transparent;
  font-size: 90%;
  color: darkgray;
}

.dialog .closebutton:hover {
  color: black;
}

.student_picture {
  max-width: 100%;
  height: 10rem;
}
.gryffindor_style {
  background-color: rgb(201, 95, 95);
}
.ravenclaw_style {
  background-color: rgb(69, 135, 197);
}
.hufflepuff_style {
  background-color: rgb(239, 239, 118);
}
.slytherin_style {
  background-color: rgb(66, 138, 66);
}

img {
  border-radius: 35px;
  border: 3px solid black;
}
