/* template around article card
/* section to be a grid

/* section margin 2 rem?
/* nav to be flex
/* article to be flex 
section */
/* @import url("http://fonts.cdnfonts.com/css/harry-potter"); */
@font-face {
  font-family: "Harry Potter";
  font-style: normal;
  font-weight: 400;
  src: local("Harry Potter"), url("https://fonts.cdnfonts.com/s/25438/HARRP___.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  position: relative;
}
body {
  background-image: url(../HogwartsHackedList/images/assets_pictures/vino-li-PkJbY56JKh4-unsplash.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  padding: 2rem;
  padding-bottom: 4rem;
  font-family: "Harry Potter", sans-serif;
  color: white;
}
header {
  height: 30vh;
}
#template_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
  margin: 1rem 3rem;
  margin-top: 2rem;
}
.school_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  flex-wrap: wrap;
}
.school_info div,
.student_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
select {
  margin-left: 1rem;
}

.navigation {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: rgba(158, 158, 158, 0.25);
  color: white;
}
#user_choices {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  padding: 1rem;
}

.search_div {
  display: flex;
  flex-direction: column;
}
.student_card {
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: rgba(140, 139, 139, 0.373);
  color: white;
  border: 3px solid white;
}
.student_card:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.05);
}
button {
  height: 100%;
  background: transparent;
  border-style: solid;
  color: white;
}
button[data-field="expel_student"] {
  background-image: url(/HogwartsHackedList/images/SVG/expel_icon.svg);
}
#sort {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

#sort span.sortby[data-sort-direction="asc"]::after {
  content: " ↓";
}
#sort span.sortby[data-sort-direction="desc"]::after {
  content: " ↑";
}
span[data-action="sort"] {
  padding: 0.8rem;
  border: 2px solid white;
  border-radius: 12px;
}
.sortby {
  background-color: rgb(255, 255, 255);
  color: black;
}

.search_div {
  margin-right: 2rem;
}
#search_bar,
select {
  border-radius: 12px;
  border: 2px solid white;
  background-color: transparent;
  padding: 0.8rem;
  color: white;
}
.dialog,
.student_modal {
  display: none;
}

.dialog.show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(140, 139, 139, 0.373);
}

.student_modal.show {
  position: fixed;
  /* width: 100vw;
  height: 100vh; */
  top: 50%;
  left: 50%;
  width: 60vw;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogcontent {
  border-radius: 12px;
  border: 2px solid white;
  background-color: black;
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#student_modal_content {
  border-radius: 12px;
  border: 2px solid white;
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 2rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  color: white;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}
.student_full_name {
  grid-column: 1/-1;
  grid-row: 1;
  padding: 0;
  padding-bottom: 0.5rem;
}

.details_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  border: 2px solid white;
  padding: 0.5rem;
  grid-column: 2;
  grid-row: 2;
}
#student_modal_content > .student_picture {
  width: 10rem;
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  height: 10.5rem;
}

.details_spans {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.house_crest {
  grid-row: 3;
  grid-column: 1/-1;
  height: 11rem;
  width: 10rem;
}

.dialog h1 {
  margin: 0;
  font-size: 130%;
  padding-bottom: 1rem;
}

.dialog h2 {
  margin: 0.5em 0;
  font-size: 110%;
  font-weight: lighter;
}

.dialog .closebutton,
#student_modal_content .closebutton {
  position: absolute;
  top: -35%;
  right: 2vw;
  border: none;
  font-size: 1.5rem;
  color: rgb(253, 253, 253);
  cursor: pointer;
}
#student_modal_content .closebutton {
  top: -43%;
}

.dialog .closebutton:hover,
#student_modal_content .closebutton:hover {
  color: rgb(126, 126, 126);
}

.gryffindor_style {
  background-color: rgb(201, 95, 95);
}
.ravenclaw_style {
  background-color: rgb(69, 135, 197);
}
.hufflepuff_style {
  background-color: rgb(226, 215, 54);
}
.slytherin_style {
  background-color: rgb(66, 138, 66);
}

.student_picture {
  border-radius: 35px;
  border: 3px solid black;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: 10rem;
}
img.buttons_icon {
  height: 4rem;
}

img[data-expelled="true"],
.greyed_out {
  filter: grayscale(100%);
}

button.remove_A,
button.remove_B {
  color: white;
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid white;
  background-color: rgb(0, 0, 0);
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.remove_buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button.remove_A:hover,
button.remove_B:hover {
  color: black;
  background-color: white;
}
.hack_button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
#do_not_click {
  padding: 0.5rem 1rem;
}
#do_not_click:hover {
  cursor: pointer;
  transform: skew(-0.06turn, 18deg);
  transition: transform 0.2s ease-in-out;
}
#do_not_click.hacked {
  filter: grayscale(1);
  transform: skew(-0.06turn, 18deg);
}

body.hacked {
  background-image: url(../HogwartsHackedList/images/assets_pictures/carolin-thiergart-Q0GCvjG1ioA-unsplash.jpg);
}
.student_card.hacked {
  background-color: black;
  border: 2px solid white;
}

/* not sure how to add the animation here :( */
.student_expelled {
  animation: 3s wiggleAndDisappear ease-in-out 1;
}

@keyframes wiggleAndDisappear {
  from {
    rotate: 0deg;
    opacity: 100%;
  }
  to {
    rotate: 360deg;
    opacity: 0;
    scale: 0;
  }
}

/*media queries*/

@media only screen and (max-width: 900px) {
  .navigation {
    flex-direction: column;
    justify-content: none;
    align-items: flex-start;
  }
  #sort {
    justify-content: none;
  }
  #search_bar {
    width: 20rem;
  }
}
@media only screen and (max-width: 750px) {
  .navigation {
    margin-top: 5rem;
  }
  #student_modal_content > .student_picture {
    width: 6rem;
    height: 6rem;
  }
  .house_crest {
    grid-row: 2;
    grid-column: 2;
    height: 7rem;
    width: 6rem;
  }
  .details_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    border: 2px solid white;
    padding: 0.5rem;
    grid-column: 1/-1;
    grid-row: 3;
  }
}
@media only screen and (max-width: 500px) {
  .navigation {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 450px) {
  .house_crest {
    grid-row: 3;
    grid-column: 1/-1;
  }
  .details_modal {
    grid-row: 4;
  }
  #student_modal_content > .student_picture {
    grid-column: 1/-1;
  }
  #student_modal_content {
    padding: 1rem;
  }
}

@media only screen and (max-width: 350px) {
  .navigation {
    margin-top: 10rem;
  }
}
